<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><i>Caveat Implementor!</i><br>Key Recovery Attacks on MEGA</h1>
            <hr>
            <p>
                MEGA is a large-scale cloud storage and communication platform that aims to provide end-to-end encryption for stored data. 
                Recent work by <a href="https://mega-awry.io">Backendal, Haller and Paterson</a> invalidated these security claims by showing practical attacks against MEGA that could be mounted by the MEGA service provider. 
                In response, the MEGA developers added lightweight sanity checks on the user RSA private keys used in MEGA, sufficient to prevent the previous attacks.
                We analysed these new sanity checks and show how they themselves could be exploited to mount novel attacks on MEGA that recover a target user's RSA private key with only slightly higher attack complexity than the original attacks. 
            </p>
            <a href="#paper" class="btn btn-primary btn-xl page-scroll">Skip to Paper</a>
        </div>
    </div>
</header>
